* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-VariableFont_wght.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* defining my colors so I can change easily */
:root {
    --bkgd-color: #094938;
    --light-color: #E7CBA4;
    --contrast-color: #BA474C;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--bkgd-color);
    overflow-x: hidden;
}

h2 {
    font-size: 4.5rem;
    font-weight: bold;
}
p {font-size: 2rem;}
a {cursor: pointer;}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    margin:0 auto;
    color: #E7CBA4;
    margin:1.25rem;
    font-size:3rem;
}
nav a {
    color: #E7CBA4;
    text-decoration: none;
    font-size:1.5rem;
}
nav .nav-options {
    display:flex;
    gap:1rem;
}

#eggtart-video {
    position: relative;
    display:flex;
    justify-content: center;
}
#eggtart-video video {
    height: 95vh;
    width: 95vw;
    background-position:aboslute;
    z-index:1;
    object-fit:cover;
    border-radius:40px;
}
#eggtart-video .content {
    height: 100vh;
    width: 100%;
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    color: var(--bkgd-color);
}
#eggtart-video h1{
    font-size:8rem;
}
#eggtart-video h3{
    font-size:3rem;
}

#scroller-container .img-card-wrapper {
    display:flex;
    justify-content: center;
    padding: 5rem;
    align-items: flex-end;
    gap:5rem;
}
#scroller-container .img-card-wrapper img{
    width:35%;
    height:35%;
}
#scroller-container .img-card-wrapper #ctr-scroll-img{
    width:50%;
    height:auto;
}
.bottom-card-wrapper {
    justify-content: center;
    align-items: center;
    display:flex;
    gap:4rem;
    color: var(--light-color);
    margin-bottom: 5rem;
    text-align: center;
}
.bottom-card-wrapper #card-title{
    margin-bottom:1rem;
}
.bottom-card-wrapper button {
    display:block;
    width: 4rem;
    height: 4rem;
    background-color: var(--bkgd-color);
    border: 3px solid var(--contrast-color);
    border-radius: 100%;
    color: var(--contrast-color);
    font-size: 1.5rem;
}

#dim-sum {
    background-color: var(--light-color);
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 40px;
    color: var(--contrast-color);
}
hr {
    border: none;
    border-top: 2px solid var(--contrast-color);
    margin: 1rem 0;
}
#dim-sum h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#dim-sum p{
    font-size: 1.5rem;
}
.dimsum-info {
    display:flex;
    justify-content: space-between;
}
.dimsum-piece {
    width: 33%;
}
.dimsum-imgs {
    display:flex;
    justify-content: center;
    gap: 1rem;
}
#dim-sum img {
    border-radius: 15px;
    width:32%;
}

#sweets {
    color: var(--light-color);
    margin-top: 8rem;
    margin-bottom: 8rem;
}
#sweets-list {
    display:flex;
    align-items: center;
    margin-bottom:2re
}
#sweets-list img {
    width:55%;
    border-radius: 0px 40px 40px 0px;
}
.sweets-info {
    padding: 4rem;
    font-size: 2rem;
}

#sweets table {
    margin:2rem;
    width: 80%;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--light-color);
    border-collapse: collapse;
}
#sweets th, #sweets td {
    padding: 1rem;
    text-align: left;
    border: 2px solid var(--light-color); 
}
#sweets th {
    background-color: var(--contrast-color);
    color: var(--light-color);
    font-size: 2rem;
}

#contact {
    background-color: var(--light-color);
    color: var(--bkgd-color);
    padding: 2rem 1rem;
    width: 50%;
    margin: 2rem auto;
}
.contact-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#email-form label {
    font-size: 1.5rem;
}
#email-form input, #email-form textarea {
    padding: 0.75rem;
    font-size: 1.5rem;
    border: 2px solid var(--bkgd-color);
    width: 100%;
    color: var(--bkgd-color);
}
#email-form button {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--contrast-color);
    color: var(--light-color);
    transition: 0.3s;
}


/* i did media query for the egg tart opening video */
@media (max-width: 600px) {
    h3, nav a {
        font-size: 1rem;
    }
    #eggtart-video h1{
        font-size:6rem;
        line-height:0.9;
    }
    #eggtart-video h3{
        font-size:2rem;
    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .nav-options {
        display:flex;
        gap:0.75rem;
    }
}
